@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.section {
  width: 100%;
  min-height: 30rem;
  background-color: #b1c7c9;

  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 100%;
  position: relative;
}

/* 하얀색 원 배경 */
.circle {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: #fff;
  clip-path: circle(55rem at left 950px);
}

/* ABOUT ME */
.sectionTitle {
  position: relative;
  z-index: 1;

  padding: 2.5rem;
}

.sectionName {
  font-family: "TheJamsil5Bold";
  font-size: 5.5rem;
  letter-spacing: -0.4rem;
  word-spacing: 1rem;
}

.line {
  margin-top: 1rem;
  height: 0.4rem;
  width: 24.5rem;
  background-color: black;
}

/* content(Photo 5 : Info 5) */
.content {
  font-family: "Pretendard-Regular";
  word-break: keep-all;
  line-height: 1.5rem;

  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;

  padding: 2.5rem 2.5rem 0 2.5rem;
}

/* 사진 들어가는 섹션 */
.photoSection {
  width: 50%;
  min-height: 30rem;
  display: flex;
}

.photo {
  width: 50%;
  background-image: url(./imgs/me.png);
  background-repeat: no-repeat;
  background-size: contain;
}

/* 포토 박스 안 개인정보 */
.myInfo {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
}

.front {
  font-size: 1.2rem;
  color: #5a8ea3;
}

.name {
  font-size: 1.9rem;
  font-weight: 600;
  margin: 1rem 0 1.5rem 0;
}

.birth,
.mail {
  font-size: 1.5rem;
}

.ulBox {
  margin: 1.3rem 0 0 0;
  min-height: 0;
}

.academin,
.history {
  font-size: 1.25rem;
  font-weight: bolder;
  margin: 0 0 1rem 1.3rem;
}

.academinInfo,
.historyInfo {
  font-size: 1rem;
  color: #252525;
  font-weight: 200;
}

/* 블로그, 깃허브 링크 */
.link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.linkTag {
  text-decoration: none;
}

.blogLink,
.githubLink {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.7rem;
}

.blogLink {
  background-color: #19ce60;
  font-size: 2.5rem;
  font-weight: 900;
  color: #fff;
}

.githubLink {
  background-color: #fff;
  font-size: 3.5rem;
  color: #000;
}

/* 자기소개 info */
.infoSection {
  width: 50%;
  height: 100%;
}

/* 커서 이벤트 */
.Text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 3rem;
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 2px 2px 5px gray;
}

.cursor {
  min-height: 3rem;
  font-size: 3rem;
  animation: cursor 1s ease-in-out 0ms 4;
}

@keyframes cursor {
  from {
    border-right: 2px solid white;
  }
  to {
    border-right: 2px solid black;
  }
}

/* information */
.infoBox {
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.5rem;
  line-height: 2.1rem;
  margin: 3.7rem 0 0 1.5rem;
}

.info {
  margin: 2rem 0;
}

/* 텍스트 애니메이션 */
.textAni {
  color: #000;
  animation: textAni 2s ease forwards;
}

@keyframes textAni {
  100% {
    color: yellow;
  }
}

/* circle & 사진 반응 */
@media screen and (max-width: 950px) {
  .section {
    width: 100%;
    min-height: 25rem;
    background-color: #b1c7c9;

    display: flex;
    flex-wrap: wrap;
  }

  .circle {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    clip-path: circle(40rem at left 710px);
  }

  .content {
    flex-direction: column;
  }

  .photoSection {
    width: 100%;
    min-height: 15rem;
    display: flex;
  }

  .infoSection {
    width: 100%;
    margin-top: 2rem;
  }

  .infoBox {
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    line-height: 2.1rem;
    margin: 2rem 0 0 0;
  }
}

/* 반응형 (모바일웹) */
@media screen and (max-width: 550px) {
  .sectionName {
    font-size: 3rem;
  }

  .line {
    margin-top: 1rem;
    height: 0.4rem;
    width: 12.5rem;
    background-color: black;
  }

  .container {
    font-size: 1.2rem;
    padding: 1.3rem;
  }

  .circle {
    display: none;
  }

  .content {
    display: block;
    padding: 1rem;
  }

  .photoSection {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    min-height: 20rem;
    width: 100%;
    margin-top: 0;
    background-color: #fff;
  }

  .photo {
    width: 10rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./imgs/me.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem auto;
  }

  .myInfo {
    width: 94%;
    margin: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
  }

  .infoSection {
    width: 100%;
    height: 100%;
  }

  /* 포토 박스 안 개인정보 */
  .front {
    font-size: 1rem;
    color: #5a8ea3;
  }

  .name {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 1rem 0 1.5rem 0;
  }

  .birth,
  .mail {
    font-size: 1.3rem;
  }

  .academin,
  .history {
    font-size: 1.05rem;
    font-weight: bolder;
    margin: 0 0 1rem 0;
  }

  .academinInfo,
  .historyInfo {
    font-size: 1rem;
    color: #252525;
    font-weight: 200;
  }

  /* 블로그, 깃허브 링크 */
  .link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .blogLink,
  .githubLink {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.7rem;
  }

  .blogLink {
    background-color: #19ce60;
    font-size: 2.5rem;
    font-weight: 900;
    color: #fff;
  }

  .githubLink {
    background-color: #fff;
    font-size: 3rem;
  }

  /* 커서 이벤트 */
  .Text {
    margin-top: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 2.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
    text-shadow: 2px 2px 5px gray;
  }

  .cursor {
    min-height: 2.5rem;
    font-size: 2.5rem;
    animation: cursor 1s ease-in-out 0ms 4;
  }
}
